<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>    
    <div id="posters-wrapper" class="content-padding clearfix">
		<h1><%= title %></h1>
		<p><%= desc %></p>
	</div>
    <% include partials/script.ejs %>
  </body>
</html>