body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #333;
}
.content-padding { padding-left: 11%; padding-right: 11%; }
#posters-wrapper { padding-top: 75px; }
.table{ display:block; overflow:scroll;}

@media (max-width: 1024px) {
	.content-padding {
		padding-left: 8%;
		padding-right: 8%;
	}
}
@media (max-width: 767px) {
	.content-padding {
		padding-left: 5%;
		padding-right: 5%;
	}
}